In [9]:
import pandas as pd

#labels = pd.read_parquet('/arc/projects/unions/catalogues/redshifts/redshifts-v1.parquet')#.dropna()
labels = pd.read_parquet('/arc/projects/unions/catalogues/redshifts/redshifts-2023-12-22.parquet')#.dropna()

labels

                  ra        dec  cspec     zspec  zspec_err
0         105.090275  55.944260    2.0  0.052865   0.000000
1         104.542046  55.655732    2.0       NaN        NaN
2         104.525368  55.694256    2.0       NaN        NaN
3         104.306342  55.712509    2.0  0.073474   0.005367
4         104.493561  55.859717    2.0       NaN        NaN
...              ...        ...    ...       ...        ...
37614611  123.301180  21.612846    NaN -0.000062   0.000000
37614612  122.335810  23.984413    NaN  0.000103   0.000000
37614613  120.626650  24.823030    NaN  0.000162   0.000000
37614614  348.389333 -29.018333    NaN  0.028470   0.000000
37614615  241.677333  15.593028    NaN  0.038820   0.000000

[37614616 rows x 5 columns]

cspec: {0:unknown, 1:star, 2:galaxy, 3:qso}

In [2]:
labels[labels['cspec']==2].to_csv('../data/galaxies.csv', index=False)

In [3]:
labels[labels['cspec']==3].to_csv('../data/qso.csv', index=False)

In [4]:
labels[labels['cspec']==1].to_csv('../data/stars.csv', index=False)

In [5]:
labels[labels['cspec']==0].to_csv('../data/unkown.csv', index=False)

In [10]:
labels.dropna(subset=['zspec']).to_csv('../data/zspec.csv', index=False)

In [1]:
import pandas as pd

#labels = pd.read_parquet('/arc/projects/unions/catalogues/redshifts/redshifts-v1.parquet')#.dropna()
labels = pd.read_parquet('/arc/projects/unions/catalogues/redshifts/hsc_ssp.parquet')#.dropna()

labels

                 ra        dec     zspec  zspec_err  cspec   origin
36353    215.096588  52.918053  0.010000   0.006500      0  HSC-SSP
36412    215.224091  53.002052  0.010000   0.006500      0  HSC-SSP
36422    215.190826  52.979145  0.010000   0.006500      0  HSC-SSP
36526    215.039642  52.872917  0.015400   0.010000      0  HSC-SSP
36555    215.223282  53.005901  0.010000   0.006500      0  HSC-SSP
...             ...        ...       ...        ...    ...      ...
3958938  353.040080  33.849074  1.646680   0.000450      0  HSC-SSP
3958939  353.970210  33.985932  0.540920   0.000182      0  HSC-SSP
3958940  357.021430  34.957792  2.215620   0.000388      0  HSC-SSP
3958941  354.444530  35.443101  1.946709   0.000522      0  HSC-SSP
3958942  339.193250  27.348370  0.452637   0.000087      0  HSC-SSP

[3538411 rows x 6 columns]